<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @phone.id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @phone.nombre %>
</p>

<p>
  <b>Modelo:</b>
  <%= @phone.modelo %>
</p>

<p>
  <b>Precio:</b>
  <%= @phone.precio %>
</p>

<p>
  <b>So:</b>
  <%= @phone.so %>
</p>

<p>
  <b>Camara:</b>
  <%= @phone.camara %>
</p>

<p>
  <b>Camarafrontal:</b>
  <%= @phone.camarafrontal %>
</p>

<p>
  <b>Ram:</b>
  <%= @phone.ram %>
</p>

<p>
  <b>Pantalla:</b>
  <%= @phone.pantalla %>
</p>

<p>
  <b>Procesador:</b>
  <%= @phone.procesador %>
</p>

<p>
  <b>Rating:</b>
  <%= @phone.rating %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
